html {
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #1a87540a;
  margin: 0;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.card-title {
  font-weight: bold;
  font-size: 1.5em;
}
.small-date {
  font-size: 0.7em;
}
.px-custom-feed {
  margin-top: 4rem;
  width: 50rem;
}
.img-wrapper-bike-main-picture {
  width: 100%;
  height: 0;
  padding-top: 62%; /* 56.25%  - 16:9 соотношение сторон */
  position: relative;
  overflow: hidden;
}

.img-wrapper-bike-main-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
